{% extends "base.twig" %}
{% block head %}
<!--link rel="stylesheet" type="text/css" href="{{ path_for('Start')}}styles/globalStyles.css"-->
{% endblock %}
{% block content %}
{% if mailUserLogued %}
<div class="card w-100">

		<div class="">
			<table class="table">
				<thead>
					<tr>
						<p class="font-weight-bold pl-2">
						Trabajando con
						{% for comp in companiesList %}
						{% if comp.rut == rutUserLogued %}
						<a href="{{ path_for('Companies')}}/{{comp.rut}}">{{comp.razonSocial}}</a>
						{%endif%}
						{% endfor %}
						</p>
					</tr>
					<tr>
						<th>Razón social</th>
						<th>Estado</th>
						<th>Vencimiento certificados</th>
					</tr>
				</thead>
				<tbody id="tbodyCompaniesList">
					{% for comp in companiesList %}
					<tr>
						<td><a href="{{ path_for('Companies')}}/{{comp.rut}}">{{comp.razonSocial}}</a><br>{{comp.rut}}</td>
						<td>{{comp.estadoDescripcion}}</td>
						<td>{{comp.certificateExpireDate}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	</div>
</div>
{% else %}
<h3 class="text-template-background font-italic text-center">ADMINISTRADOR de EFACTURA</h3>
{% endif %}
{% block script %}
<script type="text/javascript" src="{{ path_for('Start') }}scripts/companies.js{{ version }}"></script>
{% endblock %}
{% endblock %}