{% extends "base.twig" %}
{% block content %}
<div class="w-100 row justify-between-content " style="max-height: var(--containertable-height);">
	<div class="card w-25">
		<table class="table" >
			<tbody>
				<tr><td><h4>{{company.razonSocial}}</h4><br><h6>{{company.rut}}</h6></td></tr>
				<tr><td class="" >{{company.estadoDescripcion}}</td></tr>
				<tr><td><select onchange="changeCompanieData(this.value, {{company.rut}})">
					{% for suc in company.sucursales %}
					<option value="{{suc.codDGI}}">{{suc.nombreComercial}}</option>
					{% endfor %}
				</select></td></tr>

			</tbody>
		</table>
	</div>
	<div class="card w-75" >
		<div class="nav d-flex nav-pills mt-2 ml-2" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
			<a class="btn m-2 active" id="option-initContainer" data-toggle="pill" href="#initContainer" role="tab" aria-selected="true">Principal</a>
			<a class="btn m-2" id="v-pills-profile-tab" data-toggle="pill" href="#visibilityContainer" role="tab" aria-controls="v-pills-profile" aria-selected="false">CAES</a>
		</div>
		<div class="tab-content">
			<!-- EMPRESA -->
			<div class="tab-pane fade active show" id="initContainer" role="tabpanel">
				<div class="containerTable">
		        	<table class="table">
		        		<tbody id="tbodyCompaniesPrincipalData">
		        			<tr><th class="w-25">Suc. principal</th><td>{{company.sucursales.0.isPrincipal}}</td></tr>
			        		<tr><th class="w-25">Cod. DGI</th><td>{{company.sucursales.0.codDGI}}</td></tr>
			        		<tr><th class="w-25">Nom. comercial</th><td>{{company.sucursales.0.nombreComercial}}</td></tr>
			        		<tr><th class="w-25">Logo</th><td>
			        			{% if company.sucursales.0.logo %}
			        			<img src="data:image/png;base64,{{company.sucursales.0.logo}}" alt="" width="100">
			        			{%endif%}
			        		</td></tr>
							<tr><th class="w-25">Dirección</th><td>{{company.sucursales.0.direccion}}</td></tr>
			        		<tr><th class="w-25">Departamento</th><td>{{company.sucursales.0.departamento}}</td></tr>
			        		<tr><th class="w-25">Localidad</th><td>{{company.sucursales.0.localidad}}</td></tr>
			        		<tr><th class="w-25">Teléfono 1</th><td>{{company.sucursales.0.telephone1}}</td></tr>
			        		<tr><th class="w-25">Teléfono 2</th><td>{{company.sucursales.0.telephone2}}</td></tr>
			        		<tr><th class="w-25">Correo</th><td>{{company.sucursales.0.email}}</td></tr>
			        		<tr><th class="w-25">Sitio web</th><td>{{company.sucursales.0.website}}</td></tr>
			        		<tr><th class="w-25">Color principal</th><td>{{company.sucursales.0.colorPrimary}}</td></tr>
			        		<tr><th class="w-25">Color secundario</th><td>{{company.sucursales.0.colorSecondary}}</td></tr>
		        		</tbody>
		        	</table>
		        </div>
		        <div class="d-flex flex-row-reverse">
					<button class="btn btn-success" onclick="" disabled>Guardar cambios</button>
		        </div>
			</div>
			<!-- CAES -->
			<div class="tab-pane fade" id="visibilityContainer" role="tabpanel">
				<div class="containerTable" style="max-height: 30%;">
		        	<table class="table">
						<thead>
							<tr>
								<th>CFE</th>
								<th>Vencimiento</th>
								<th>Disponibles</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for cae in company.caes %}
							<tr>
								<td>{{cae.tipoCFE}}</td>
								<td>{{cae.vencimiento}}</td>
								<td>{{cae.disponibles}}</td>
								<td>{{cae.total}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
		        </div>
			</div>
		</div>
	</div>
</div>

{% block script %}
<script type="text/javascript" src="{{ path_for('Start') }}scripts/companies.js{{ version }}"></script>
<script type="text/javascript">
	$(document).ready(()=>{
	//	loadDataOfCompanie();
	});
</script>
{% endblock %}
{% endblock %}