<div class="tab-pane active show" id="sucursales-data" role="tabpanel">
	<div class="containerTable">
		<form method="POST" id="formCompanieDetails">
	    	<table class="table">
	    		<tbody id="">
					{% if company.sucursales %}
					<div class="d-flex flex-row-reverse mb-2">
						<div>
							<a id="newSucursal" type="button" onclick="createNewSucursalModal()" style="height: 2.5rem;" class="btn background-template-color text-template-color" title="Crear nueva sucursal"><i class="fas fa-plus"></i></a>
						</div>
						{% if company.suspendida == 0 %}
	    					<button type="button" class="btn btn-warning col-6 col-sm-6 col-md-2 mr-2" style="height: 2.5rem;overflow: hidden;" onclick="suspenderActivarEmpresa(1)"  title="La empresa está activada, presiona para suspender">Suspender empresa</button>
	    				{% endif %}
						{% if company.suspendida == 1 %}
	    					<button type="button" class="btn btn-info col-6 col-sm-6 col-md-2 mr-2" onclick="suspenderActivarEmpresa(0)" title="La empresa está suspendida, presiona para activar">Activar empresa</button>
						{% endif %}
                        <div class="col-4">
                            <select  id="selectBranchCompanieDetails" class="form-control" style="height: 2.5rem;" onchange="loadBranchCompanieData(this.value, {{company.rut}})">
                                {% for suc in company.sucursales %}
                                    {% if suc.isPrincipal %}
                                    	<option value="{{suc.codDGI}}">{{suc.codDGI}} - PRINCIPAL</option>
                                    {% else %}
                                    	<option value="{{suc.codDGI}}">{{suc.codDGI}} - SUCURSAL</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <label for="selectBranchCompanieDetails" id="selectBranchCompanieDetailLabel" class="col-4 col-form-label"> Trabajando con la sucursal: </label>
					</div>
					{% endif %}
					<tr class="w-100">
						<td class="col-4">
							<label class="font-weight-bold">Estado</label>
	    				</td>
	    				<td>
		        			<select class="form__field" onchange="changestatusCompanie(this.value, {{company.estado}})">
								{% if company.estado == 1 %}<option value="1" selected>Pendiente usuario</option>
								{% else %}<option value="1">Pendiente usuario</option>{% endif %}
								{% if company.estado == 2 %}<option value="2" selected>Pendiente postulación</option>
								{% else %}<option value="2">Pendiente postulación</option>{% endif %}
								{% if company.estado == 3 %}<option value="3" selected>Pendiente aprobación</option>
								{% else %}<option value="3">Pendiente aprobación</option>{% endif %}
								{% if company.estado == 4 %}<option value="4" selected>Pendiente certificación</option>
								{% else %}<option value="4">Pendiente certificación</option>{% endif %}
								{% if company.estado == 5 %}<option value="5" selected>Pendiente resolución</option>
								{% else %}<option value="5">Pendiente resolución</option>{% endif %}
								{% if company.estado == 6 %}<option value="6" selected>Emisor habilitado</option>
								{% else %}<option value="6">Emisor habilitado</option>{% endif %}
								{% if company.estado == 7 %}<option value="7" selected>Emisor no habilitado</option>
								{% else %}<option value="7">Emisor no habilitado</option>{% endif %}
								{% if company.estado == 8 %}<option value="8" selected>En espera para comenzar</option>
								{% else %}<option value="8">En espera para comenzar</option>{% endif %}
							</select>
						</td>
					</tr>
				</tbody>
			</table>

			<br><br>

			<table class="table">
	    		<tbody id="">

					<tr>
						<td class="col-2">
							<label class="font-weight-bold">Nombre Comercial</label>
	    				</td>
						<td class="col-10">
							{# <div class="form__group field"> #}
								<input type="text" id="tdBranchDataNombre" name="nombre" class="form__field" onchange="datachanged()" placeholder="Nombre comercial" />
							{# </div> #}
						</td>
					</tr>
					<tr>
						<td class="col-2">
							<label class="font-weight-bold">Dirección</label>
						</td>
						<td class="col-10">
						{# <div class="form__group field"> #}
							<input type="text" id="tdBranchDataDireccion" name="direccion" onchange="datachanged()" class="form__field" placeholder="Dirección" />
						{# </div> #}
						</td>
					</tr>
					<tr>
						<td class="col-2">
							<label class="font-weight-bold">Departamento</label>
						</td>
						<td class="col-10">
						{# <div class="form__group field"> #}
							<input type="text" id="tdBranchDataDepto" name="departamento" class="form__field" onchange="datachanged()" placeholder="Departamento" />
						{# </div> #}
						</td>
					</tr>
					<tr>
						<td class="col-2">
							<label class="font-weight-bold">Localidad</label>
						</td>
						<td class="col-10">
						{# <div class="form__group field"> #}
							<input type="text" id="tdBranchDataLocalidad" name="localidad" class="form__field" onchange="datachanged()" placeholder="Localidad" />
						{# </div> #}
						</td>
					</tr>
					<tr>
						<td class="col-2">
							<label class="font-weight-bold">Telefono</label>
						</td>
						<td class="col-10">
						{# <div class="form__group field"> #}
							<input type="text" id="tdBranchDataTel" name="telefono" class="form__field" onchange="datachanged()" placeholder="Teléfono 1" />
						{# </div> #}
						</td>
					</tr>
					<tr>
						<td class="col-2">
							<label class="font-weight-bold">Telefono 2</label>
						</td>
						<td class="col-10">
						{# <div class="form__group field"> #}
							<input type="text" id="tdBranchDataTel2" name="telefono2" class="form__field" onchange="datachanged()" placeholder="Teléfono 2" />
						{# </div> #}
						</td>
					</tr>
					<tr>
						<td class="col-2">
							<label class="font-weight-bold">Correo</label>
						</td>
						<td class="col-10">
						{# <div class="form__group field"> #}
							<input type="text" id="tdBranchDataCorreo" name="correo" class="form__field" onchange="datachanged()" placeholder="Correo" />
						{# </div> #}
						</td>
					</tr>
					<tr>
						<td class="col-2">
							<label class="font-weight-bold">Sitio</label>
						</td>
						<td class="col-10">
						{# <div class="form__group field"> #}
							<input type="text" id="tdBranchDataWeb" name="sitio" class="form__field" onchange="datachanged()" placeholder="Sitio web" />
						{# </div> #}
						</td>
					</tr>
	    		</tbody>
	    	</table>


	        <div class="d-flex flex-row-reverse p-1">

				<button  id="buttonSubmitCompanieDetails" type="submit" class="btn btn-success ml-3" disabled>Guardar cambios</button>

				<button  id="buttonDeleteBranchCompanieDetails" type="button" class="btn btn-secondary ml-3" >Eliminar Sucursal</button>
            
				<button disabled id="buttonSetPrincipalBranchCompanieDetails" type="button" class="btn btn-secondary" >Convertir en principal</button>
	        </div>
	    </form>
	</div>
</div>

<div class="modal fade" id="modalNewSucursal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span class="modal-title text-white">Nueva sucursal</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row mt-2">
					<div class="col-4">
						<input type="text" id="BranchDataNombreModal" name="nombre" class="form-control" onchange="datachanged()" placeholder="Nombre comercial" />
					</div>
					<div class="col-4">
						<input type="text" id="BranchDataDireccionModal" name="direccion" onchange="datachanged()" class="form-control" placeholder="Dirección" />
					</div>
					<div class="col-4">
						<input type="text" id="BranchDataDeptoModal" name="departamento" class="form-control" onchange="datachanged()" placeholder="Departamento" />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-4">
						<input type="text" id="BranchDataLocalidadModal" name="localidad" class="form-control" onchange="datachanged()" placeholder="Localidad" />
					</div>
					<div class="col-4">
						<input type="text" id="BranchDataTelModal" name="telefono" class="form-control" onchange="datachanged()" placeholder="Teléfono 1" />
					</div>
					<div class="col-4">
						<input type="text" id="BranchDataTel2Modal" name="telefono2" class="form-control" onchange="datachanged()" placeholder="Teléfono 2" />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-6">
						<input type="text" id="BranchDataCorreoModal" name="correo" class="form-control" onchange="datachanged()" placeholder="Correo" />
					</div>
					<div class="col-6">
						<input type="text" id="BranchDataWebModal" name="sitio" class="form-control" onchange="datachanged()" placeholder="Sitio web" />
					</div>
				</div>
				{# <hr>
				<label class="text-primary" for="inputExportCobrosFechaProduccion">Tipo de Sucursal</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="options" id="option2" value="option2" checked>
					<label class="form-check-label" for="option2">
						Secundaria
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="options" id="option1" value="option1">
					<label class="form-check-label" for="option1">
						Principal
					</label>
				</div> #}
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm" tabindex="5" data-dismiss="modal">Cancelar</button>
				<button id="buttonModalNewSucursal" type="button" class="btn btn-success shadow-sm" tabindex="4" >Confirmar</button>
			</div>
		</div>
	</div>
</div>

<div id="modalDeleteBranch" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog w-25" role="document">
		<div class="modal-content">
			<div class="modal-header background-template-color">
				<span id="modalConfirmTitle" class="modal-title"> Confirmar </span>
				<button type="button" class="close" data-dismiss="modal" accesskey="x" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="modalConfirmMessage" class="text-center"> ¿Seguro que quiere eliminar la sucursal? </p>
			</div>
			<div class="modal-footer">
				<button type="button" id="buttonConfirmDeleteBranch" class="btn btn-success shadow-sm" data-dismiss="modal" accesskey="o">C<u>o</u>nfirmar</button>
        		<button type="button" class="btn background-template-color text-template-color shadow-sm" data-dismiss="modal" accesskey="a" >C<u>a</u>ncelar</button>
				{# <button id="modalButtonResponse" type="button" accesskey="o" class="btn background-template-color text-template-color shadow-sm"><u>O</u>k</button> #}
			</div>
		</div>
	</div>
</div>