<div class="tab-pane fade" id="resoluciones-data" role="tabpanel">
	<div class="containerTable" style="max-height: 30%;">
		<form method="POST" id="idFormLoadResolutions" >
	    	<table class="table">
				<thead>
					<tr>
						<th>Resolución</th>
						<th>Fecha</th>
					</tr>
				</thead>
				<tbody id="tbodyCompaniesResolucionesData" >
					<tr>
						<td><label class="">Fecha de emisión</label></td>
						<td><input type="date" name="emitterDate" onchange="changeDataFormResolutions()" class="form__field" placeholder="" /></td>
					</tr>
					<tr>
						<td><label>Resolución EFactura</label></td>
						<td><input type="text" name="dgiResolutionEFact" onchange="changeDataFormResolutions()" class="form__field" placeholder="" value="{{company.dgiResolutionEFac}}" /></td>
					</tr>
					<tr>
						<td><label>Resolución EResguardo</label></td>
						<td><input type="text" name="dgiResolutionERes" onchange="changeDataFormResolutions()" class="form__field" value="{{company.dgiResolutionERes}}"  placeholder="" /></td>
					</tr>
					<tr>
						<td><label>Resolución ERemito</label></td>
						<td><input type="text" name="dgiResolutionERem" onchange="changeDataFormResolutions()" class="form__field" value="{{company.dgiResolutionERem}}" placeholder="" /></td>
					</tr>
					<tr>
						<td><label>Resolución EFactura Exportación</label></td>
						<td><input type="text" name="dgiResolutionEFacExp" onchange="changeDataFormResolutions()" class="form__field" value="{{company.dgiResolutionEFacExp}}"  placeholder="" /></td>
					</tr>
					<tr>
						<td><label>Resolución EFactura Cuenta Ajena</label></td>
						<td><input type="text" name="dgiResolutionCtaAjena" onchange="changeDataFormResolutions()" class="form__field" value="{{company.dgiResolutionCtaAjena}}" placeholder="" /></td>
					</tr>
					<tr>
						<td><label>Resolución EBoleta de Entrada</label></td>
						<td><input type="text" name="dgiResolutionEBolEntrada" onchange="changeDataFormResolutions()" class="form__field" placeholder="" value="{{company.dgiResolutionEBolEntrada}}" /></td>
					</tr>

				</tbody>
			</table>
			<div class="d-flex flex-row-reverse">
				<button id="buttonFormLoadResolutions" class="btn btn-success" disabled >Guardar</button>
			</div>
		</form>
    </div>
</div>