<div class="vertical-nav bg-light" id="sidebar">
    <div class="py-4 px-3 mb-3 background-template-color">
        <div class="media d-flex justify-content-center ">
            <a href="{{ path_for('Start') }}">
                <img src="{{path_for('Start')}}img/LogoHeader.png" alt="Logo empresarial" width="150">
            </a>
        </div>
    </div>

{% if sistemSession %}

    {% include("companieDataNav.twig") %}

    <ul class="nav flex-column bg-white my-5">
        <li class="nav-item">
            <a href="{{ path_for('Start') }}" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-home text-template-background mx-2"></i>Inicio
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path_for('Empresas') }}" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-building text-template-background mx-2"></i>Lista de empresas
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path_for('Emisores') }}" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-fax text-template-background mx-2"></i>Emisores
                {# <i class="fas fa-receipt text-template-background mx-2"></i>Emisores #}
            </a>
        </li>
    </ul>

    <div class="navItemDown" >
        <span id="dateLastCfeReceipt" ></span>
    </div>


    <!--nav class="nav flex-column">
        <div class="nav-item"><a class="nav-link" href="{{path_for('Recibidos')}}">Recepción</a></div>
        <div class="nav-item"><a class="nav-link active" href="{{path_for('Emitidos')}}">Facturación</a></div>
        <div class="nav-item"><a class="nav-link" href="{{path_for('Usuarios')}}">Usuarios</a></div>
    </nav-->

{% endif %}

</div>